<div class="well well-sm media blog-comment {{comment.comment_type}}" id="blog-comment-{{comment.ID}}">
  <div class="media-body">
    <h4 class="media-heading comment-author">{{comment.author.name}} :</h4>
    <div class="comment-content">{{comment.comment_content|wpautop}}</div>
  </div>
</div>
