<div class="skill-indicator">
  <h2>{{ name }}</h2>
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: {{ value }};">
      {{ value }}
    </div>
  </div>
</div>
